//==========================================================================================================================================================
// Colors
$color-white: #fff;

$color-black: #343a3f;

$color-gray: #f4f4f4;
$color-gray-2: #d4d9dd;

$color-blue: #4888ff;
$color-blue-2: rgba(72, 136, 255, 0.2);

$color-purple: #672870;
